.advantages {
  background-color: $base-white;
}

.advantages__wrapper {
  max-width: $desktop-width;
  padding: 50px $base-indent 60px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 60px 30px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 105px $alt-indent 120px;
  }
}

.advantages__img {
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 31px;

  font-size: 24px;
  line-height: 36px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.advantages__item svg {
  fill: $base-primary;
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50px auto;
    gap: $base-indent;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.advantages__item-name {
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.advantages__text-wrapper {
  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__text {
  margin: 0;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__text br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__badge {
  margin: 0;
  margin-bottom: 4px;
}
