.body__wrapper {
  margin: 0 auto;
  max-width: $desktop-width;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  overflow: hidden;
}
