.catalog {
  padding: 50px 20px 44px;

  @media (min-width: $tablet) {
    padding: 80px 20px 90px;
  }

  @media (min-width: $desktop) {
    padding: 100px 40px 120px;
    display: grid;
    grid-template-columns: 318px auto;
    column-gap: 30px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 20.65px;

  font-size: 24px;
  line-height: 36px;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
    grid-column: 1/-1;
  }
}

.catalog__filter {
  @media (min-width: $tablet) {
    margin-bottom: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 22px;
    row-gap: 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 0;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}

.catalog__products {
  @media (min-width: $desktop) {
    grid-column: -1/-2;
  }
}

.catalog__buttons {
  margin: 0;
  margin-bottom: 40.45px;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24.5px;
  border: none;

  @media (min-width: $tablet) {
    margin: 0;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: center;
  }
}

.catalog__button {
  padding: 10px 15px;
  min-width: 160px;

  font-size: 13px;
  line-height: 24px;

  border-radius: 4px;

  @media (min-width: $tablet) {
    font-size: 14px;
    padding: 8px 5px;
  }

  @media (min-width: $tablet) {
    min-width: 120px;
  }
}

.catalog__button--submit {
  color: $base-white;
  background-color: $base-primary;
}

.catalog__button--reset {
  color: $base-primary;
  background-color: $base-white;
}

.catalog__badge {
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $desktop) {
    grid-column: 1/-1;
  }
}
