.contacts__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.contacts__wrapper svg {
  fill: $base-primary;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
}

.contacts__link {
  text-decoration: none;
}

.contacts__phone {
  font-size: 14px;
  line-height: 20px;
  color: $base-black;
}

.contacts__img {
  margin-right: 6px;
}
