.country {
  margin: 0;
  margin-bottom: 33.8px;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.country__title {
  padding: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.country__input-label {
  display: flex;
  align-items: center;
  position: relative;

  font-size: 16px;
  line-height: 24px;

  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.country__input-name {
  margin-left: 10px;
}

.country__input-mark {
  width: 42px;
  height: 24px;

  position: relative;
  box-sizing: border-box;

  background-color: $base-grey;
  border-radius: 12px;
  transition: 0.4s;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-color: $base-white;
    border-radius: 50%;
  }
}

.country__input {
  position: absolute;

  opacity: 0;
  z-index: -1;

  &:checked:disabled + .country__input-mark::before {
    transform: translateX(18px);
    background-color: $base-grey;
  }

  &:hover + .country__input-mark,
  &:focus + .country__input-mark {
    outline: 2px solid $primary-lighter;
    outline-offset: -2px;
    background-color: $primary-opacity;
  }

  &:checked + .country__input-mark {
    background-color: $base-primary;
    outline: none;
  }

  &:checked + .country__input-mark::before {
    transform: translateX(18px);
  }

  &:disabled + .country__input-mark {
    outline: none;
    background-color: $light-grey;
  }

  &:disabled ~ .country__input-name {
    color: $base-grey;
  }

  &:disabled + .country__input-mark::before {
    background-color: $lightest-grey;
  }
}
