.developer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer__text,
.developer__logo-text {
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
}

.developer__logo svg {
  fill: $base-grey;
}

.developer__logo {
  display: flex;
  align-items: center;

  text-decoration: none;
  cursor: pointer;

  &:hover span,
  &:focus span {
    color: $base-primary;
  }

  &:active span {
    color: $primary-darker;
  }

  &:hover svg,
  &:focus svg {
    fill: $base-primary;
  }

  &:active svg {
    fill: $primary-darker;
  }
}

.developer__text {
  margin: 0;
  margin-right: 3px;

  text-decoration: none;
}

.developer__logo-text {
  margin-right: 4px;
}
