.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__logo {
  margin-right: auto;
}

.footer__wrapper {
  border-bottom: 1px solid $base-secondary;
}

.footer__navigation-wrapper {
  padding: 22px 20px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 40px 20px 30px;
  }
}

.footer__socials {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 160px;
}

.footer__info {
  text-align: left;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 20px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.footer__developer {
  padding: 20px 20px 30px;

  @media (min-width: $tablet) {
    padding: 30px 20px 40px;
  }
}

.footer__title {
  margin: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $base-primary;
  letter-spacing: 2%;
  margin-bottom: 20px;
}

.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $base-black;
  font-weight: 500;
  letter-spacing: 2%;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer__logo-text--short {
  @media (min-width: $tablet) {
    display: none;
  }
}

.footer__logo-text--full {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
