.footer {
  background-color: $base-white;
  min-width: 100%;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: $alt-indent;
    display: grid;
    grid-template-columns: 318px auto;
    column-gap: 30px;
    row-gap: $base-indent;
  }
}

.footer__logo {
  margin-right: auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.footer__text {
  display: none;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.footer__navigation-wrapper {
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.footer__navigation {
  padding: $base-indent;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 40px $base-indent 30px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: column;
    row-gap: 50px;
    align-items: flex-start;
  }
}

.footer__socials {
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 160px;

  display: flex;
  align-items: center;
  gap: $base-indent;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: auto;
  }
}

.footer__info {
  text-align: left;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 $base-indent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

.footer__list {
  margin: 0;
  padding: 22px $base-indent 24px;

  list-style: none;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.footer__developer {
  padding: 20px $base-indent 30px;

  @media (min-width: $tablet-width) {
    padding: 30px $base-indent 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    padding: 0;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: $base-indent;

  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $base-primary;
  letter-spacing: 2%;
}

.footer__link {
  font-weight: 500;
  color: $base-black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2%;

  &:hover,
  &:focus {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: $base-indent;
  }
}
