.header {
  width: 100%;
  min-height: 60px;

  display: flex;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 20px;
    min-height: 80px;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;
  }
}

.header__logo-wrapper {
  margin-left: 20px;
  margin-right: auto;

  @media (min-width: $tablet) {
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    max-width: 320px;
    display: flex;
    align-items: center;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-text {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.header__text {
  margin-left: 20px;
  max-width: 126px;

  display: none;

  text-align: left;

  @media (min-width: $desktop) {
    display: block;
  }
}

.header__menu {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.header__user-menu {
  display: flex;

  @media (min-width: $tablet) {
    margin-left: auto;
    justify-content: end;
  }
}

.header__navigation {
  order: 10;

  @media (min-width: $tablet) {
    order: 0;
  }
}

//*Кнопка меню
.header__navigation-button {
  padding: 0;
  width: 60px;
  height: 60px;

  display: block;
  position: relative;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

// Кнопка меню при ЗАКРЫТОМ меню (иконка бургер)
.header__navigation--closed .header__navigation-button::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 1.5px;
  top: 50%;
  left: calc(50% - 8px);
  background-color: $base-black;
  box-shadow: 0 -3.75px 0 0 $base-black, 0 3.75px 0 0 $base-black;
}

// Кнопка меню при ОТКРЫТОМ меню (иконка крестик)
.header__navigation--opened .header__navigation-button {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 1.5px;
    top: 50%;
    left: 22px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
