.logo {
  max-width: 170px;

  display: flex;
  align-items: center;

  text-decoration: none;
  cursor: pointer;
}

.logo__text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: $base-black;
}

.logo svg {
  padding: 0 6px;
}
