.map {
  height: 420px;
  background-image: url("../../img/map.jpg");
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}
