.marketplace {
  margin: 0;
  padding: 0;
  list-style: none;
}

.marketplace__title {
  @include h4-title;
}

.marketplace__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $base-black;
  font-weight: 500;
  letter-spacing: 2%;
}
