.products__sort {
  margin-bottom: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    justify-content: end;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.products__sort-title {
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.products__sort-select {
  padding: 4px 10px;
  max-width: 165px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $base-primary;
  letter-spacing: 1px;

  border: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: $base-secondary;
    outline: none;
  }
}

.products__sort-select option {
  background-color: $base-white;
  color: $base-black;
}

.products__list {
  margin: 0;
  margin-bottom: $alt-indent;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-auto-flow: dense;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.products__item {
  padding: 40px $base-indent 20px;

  text-align: left;
  background-color: $base-white;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: $base-indent;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.products__link {
  color: $base-black;
  text-decoration: none;
  cursor: pointer;
}

.products__img-wrapper {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.products__title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
  }
}

.products__text {
  margin: 0;
  margin-bottom: 16px;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom:$base-indent;
  }
}

.products__offer {
  display: flex;
  align-items: center;
}

.products__price {
  margin: 0;
  margin-right: auto;

  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.products__button {
  padding: 8px;
  min-width: 141px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 20px;
}

.products__button svg {
  margin-right: 6px;
  fill: $base-white;
}

.products__pagination {
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}
