.special {
  padding: 20px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;

  background-color: $flat-white;

  @media (min-width: $tablet-width) {
    padding: 60px 80px 0;
    background-image: linear-gradient(to bottom, $flat-white 77%, $base-white 77%);
  }

  @media (min-width: $desktop-width) {
    padding: 30px 80px 60px;

    display: grid;
    grid-template-columns: 600px auto;
    gap: 30px;

    background-image: none;
  }
}

.special__info {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.special__img-wrapper {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.special__img {

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.special__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 2%;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }
}

.special__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    text-align: left;
  }
}

.special__old-price {
  margin-right: 6px;

  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
}

.special__new-price {
  margin-right: 20px;

  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.special__button {
  padding: 8px 20px;

  font-size: 16px;
  line-height: 24px;
  color: $base-white;

  border-radius: 4px;
  background-color: $base-primary;
}

.special__badge {
  margin: 0;
  margin-bottom: 4px;
}
