.special {
  background-color: $flat-white;
  padding: 20px;
  text-align: center;
}

.special__block-name {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4%;
  color: $base-primary;
}

.special__title {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 2%;
}

.special__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.special__old-price {
  color: $base-primary;
  font-size: 16px;
  line-height: 32px;
}

.special__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.special__button {
  padding: 8px 20px;
  background-color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  border-radius: 4px;
}
