.special {
  background-color: $flat-white;
  padding: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    padding: 60px 80px 0;
    background-image: linear-gradient(to bottom, $flat-white 77%, $base-white 77%);
  }
}

.special__info {
  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.special__img-wrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    order: 2;
    margin: 0;
  }
}

.special__img {
  @media (min-width: $tablet) {
    width: 476px;
    height: 476px;
  }
}

.special__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 2%;

  @media (min-width: $tablet) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.special__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 32px;
  }
}

.special__old-price {
  color: $base-primary;
  font-size: 16px;
  line-height: 32px;
  margin-right: 6px;
}

.special__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 20px;
}

.special__button {
  padding: 8px 20px;
  background-color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  border-radius: 4px;
}

.special__badge {
  margin: 0;
  margin-bottom: 4px;
}
