.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  padding: 20px $base-indent 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 60px 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 80px 84px;
    padding-right: 110px;
  }

  &--flat-white {
    background-color: $flat-white;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to bottom, $flat-white 77%, $base-white 77%);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  &--lavender {
    background-color: $lavender-latte;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to bottom, $lavender-latte 77%, $base-white 77%);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  &--espresso {
    background-color: $espresso;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to bottom, $espresso 77%, $base-white 77%);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }
}

.swiper-slide__wrapper {
  max-width: $desktop-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    gap: $base-indent;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 600px auto;
    gap: 30px;
  }
}

.swiper__image {
  width: 100%;
  height: 100%;
}

.swiper__info {
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    max-width: 625px;

    align-items: flex-start;
  }
}

.swiper__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }
}

.swiper__text {
  margin: 0;
  margin-bottom: $base-indent;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: $alt-indent;

    text-align: left;
  }
}

.swiper__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.swiper__old-price {
  margin-right: 6px;

  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
}

.swiper__new-price {
  margin-right: $base-indent;

  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.swiper__price-button {
  padding: 8px;
  min-width: 113px;

  font-size: 16px;
  line-height: 24px;
}

.swiper__badge {
  margin: 0;
  margin-bottom: 4px;
}

// Пагинация
.swiper-pagination {
  margin-bottom: 52px;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 62px;
  height: 4px;

  opacity: 1;
  border-radius: 0;
  background-color: $base-white;

  &:hover:not(.swiper-pagination-bullet-active),
  &:focus:not(.swiper-pagination-bullet-active) {
    background-color: $primary-opacity;
  }
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: $base-primary;
}

// Кнопки
.swiper .swiper-button {
  width: 20px;

  top: 22px;
  height: 100%;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, $base-white 0%, transparent 70%);
  }

  &:active {
    background: linear-gradient(to right, $base-primary -200%, transparent 70%);
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 77%;
  }

  @media (min-width: $desktop-width) {
    width: 80px;
    height: 100%;
  }
}

.swiper .swiper-button-prev {
  left: 0;

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    background: center center no-repeat url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.71661 0L11 1.32082L2.56677 10L11 18.6792L9.71661 20L0 10L9.71661 0Z' fill='%237859CF'/%3E%3C/svg%3E%0A") transparent;
  }
}

.swiper .swiper-button-next {
  right: 0;
  transform: scale(-1, 1);

  &::after {
    width: 20px;
    height: 20px;
    content: "";
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    background: center center no-repeat url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.71661 0L11 1.32082L2.56677 10L11 18.6792L9.71661 20L0 10L9.71661 0Z' fill='%237859CF'/%3E%3C/svg%3E%0A") transparent;
  }
}
