.user-nav__button {
  text-transform: uppercase;
  background-color: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.user-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $base-black;
  font-weight: 500;
}
