.user-nav {
  display: flex;
  align-items: center;
}

.user-nav__button svg {
  fill: $base-black;
}

.user-nav__button {
  padding: 20px 22px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
  }

  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: $base-primary;
  }

  &--enter {
    font-size: 12px;
    line-height: 16px;

    background-color: transparent;

    @media (min-width: $desktop-width) {
      margin-right: $base-indent;
    }
  }

  &--basket {
    color: $base-black;
    text-decoration: none;
  }
}

.user-nav__button span {
  display: none;

  @media (min-width: $desktop-width) {
    margin-left: 7px;
    display: block;
  }
}
