@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-regular.woff2") format("woff2");
  src: url("../../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-medium.woff2") format("woff2");
  src: url("../../fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-semibold.woff2") format("woff2");
  src: url("../../fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-bold.woff2") format("woff2");
  src: url("../../fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-extrabold.woff2") format("woff2");
  src: url("../../fonts/montserrat-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: #f8f8f8;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: none;
  position: absolute;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  background-color: #ffffff;
}

.advantages__wrapper {
  max-width: 1440px;
  padding: 50px 20px 60px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 60px 30px 100px;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    padding: 105px 40px 120px;
  }
}

.advantages__img {
  margin-bottom: 10px;
}
@media (min-width: 1440px) {
  .advantages__img {
    margin-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    margin-bottom: 80px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.advantages__item svg {
  fill: #7859cf;
}

.advantages__item:not(:last-child) {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .advantages__item {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 20px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.advantages__item-name {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .advantages__item-name {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .advantages__text-wrapper {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .advantages__text-wrapper {
    text-align: center;
  }
}

.advantages__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .advantages__text br {
    display: none;
  }
}

.advantages__badge {
  margin: 0;
  margin-bottom: 4px;
}

.badge {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7859cf;
  letter-spacing: 4%;
}

.button {
  color: #ffffff;
  background-color: #7859cf;
  border-radius: 4px;
}
.button:hover, .button:focus {
  outline: none;
  color: #ffffff;
  background-color: #9070ec;
}
.button:active {
  color: #ffffff;
  background-color: #593cac;
}
.button:disabled {
  color: #ffffff;
  background-color: #bdbdbd;
}
.button--light {
  color: #7859cf;
  background-color: #ffffff;
}
.button--light:disabled {
  background-color: #e2e2e2;
}

.button-element {
  border: none;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  cursor: pointer;
}

.body__wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.body--nojs .header {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.body--nojs .header__navigation-button {
  display: none;
}
.body--nojs .header__user-menu {
  margin-left: auto;
}
.body--nojs .header__navigation {
  grid-column: 1/-1;
  width: 100%;
  display: block;
  position: static;
  text-align: center;
}
.body--nojs .header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body--nojs .menu__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.body--nojs .menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #f0ebff;
}
.body--nojs .menu__item:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: #f0ebff;
}
.body--nojs .menu__link--active::after {
  width: 0;
  height: 0;
}

.catalog__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 52px 20px 44px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 80px 20px 90px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    padding: 100px 40px 120px;
    display: grid;
    grid-template-columns: 318px auto;
    column-gap: 30px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 42px;
    line-height: 64px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin-bottom: 40px;
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .catalog__filter {
    margin-bottom: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
    row-gap: 39px;
  }
}
@media (min-width: 1440px) {
  .catalog__filter {
    margin-bottom: 0;
    padding: 0;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}

@media (min-width: 1440px) {
  .catalog__products {
    grid-column: -1/-2;
  }
}

.catalog__buttons {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24.5px;
  border: none;
}
@media (min-width: 768px) {
  .catalog__buttons {
    margin: 0 auto;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: space-between;
    gap: 29.6px;
    transform: translateX(-30px);
  }
}
@media (min-width: 1440px) {
  .catalog__buttons {
    margin: 0;
    justify-content: flex-start;
    gap: 25px;
    transform: none;
  }
}

.catalog__button {
  padding: 10.6px;
  min-width: 160px;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog__button {
    padding: 8px 4px;
    min-width: auto;
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .catalog__button {
    min-width: 120px;
  }
}

.catalog__badge {
  margin: 0;
  margin-bottom: 4px;
}
@media (min-width: 1440px) {
  .catalog__badge {
    grid-column: 1/-1;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 16px;
}

.contacts__wrapper svg {
  fill: #7859cf;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
}

.contacts__link {
  text-decoration: none;
}

.contacts__phone {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.contacts__img {
  margin-right: 6px;
}

.country {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
}
@media (min-width: 768px) {
  .country {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .country {
    margin-bottom: 40px;
  }
}

.country__title {
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.country__input-label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.country__input-label:not(:last-child) {
  margin-bottom: 20px;
}

.country__input-name {
  margin-left: 10px;
}

.country__input-mark {
  width: 42px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  background-color: #bdbdbd;
  border-radius: 12px;
  transition: 0.4s;
}
.country__input-mark::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  background-color: #ffffff;
  border-radius: 50%;
}

.country__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.country__input:checked:disabled + .country__input-mark::before {
  transform: translateX(18px);
  background-color: #bdbdbd;
}
.country__input:hover + .country__input-mark, .country__input:focus + .country__input-mark {
  outline: 2px solid #9070ec;
  outline-offset: -2px;
  background-color: rgba(120, 89, 207, 0.25);
}
.country__input:checked + .country__input-mark {
  background-color: #7859cf;
  outline: none;
}
.country__input:checked + .country__input-mark::before {
  transform: translateX(18px);
}
.country__input:disabled + .country__input-mark {
  outline: none;
  background-color: #e2e2e2;
}
.country__input:disabled ~ .country__input-name {
  color: #bdbdbd;
}
.country__input:disabled + .country__input-mark::before {
  background-color: #f8f8f8;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer__text,
.developer__logo-text {
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
}

.developer__logo svg {
  fill: #bdbdbd;
}

.developer__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.developer__logo:hover span, .developer__logo:focus span {
  color: #7859cf;
}
.developer__logo:active span {
  color: #593cac;
}
.developer__logo:hover svg, .developer__logo:focus svg {
  fill: #7859cf;
}
.developer__logo:active svg {
  fill: #593cac;
}

.developer__text {
  margin: 0;
  margin-right: 3px;
  text-decoration: none;
}

.developer__logo-text {
  margin-right: 4px;
}

.footer {
  background-color: #ffffff;
  min-width: 100%;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .footer__wrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: 318px auto;
    column-gap: 30px;
    row-gap: 20px;
  }
}

.footer__logo {
  margin-right: auto;
}
@media (min-width: 1440px) {
  .footer__logo {
    margin-bottom: 10px;
  }
}

.footer__text {
  display: none;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 1440px) {
  .footer__text {
    display: block;
  }
}

.footer__navigation-wrapper {
  border-bottom: 1px solid #f0ebff;
}
@media (min-width: 768px) {
  .footer__navigation-wrapper {
    border-bottom: none;
  }
}

.footer__navigation {
  padding: 20px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__navigation {
    padding: 40px 20px 30px;
  }
}
@media (min-width: 1440px) {
  .footer__navigation {
    padding: 0;
    flex-direction: column;
    row-gap: 50px;
    align-items: flex-start;
  }
}

.footer__socials {
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 160px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .footer__socials {
    margin-left: 0;
    margin-right: auto;
  }
}

.footer__info {
  text-align: left;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .footer__info {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .footer__info {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

.footer__list {
  margin: 0;
  padding: 22px 20px 24px;
  list-style: none;
}
@media (min-width: 768px) {
  .footer__list {
    padding: 0;
  }
}

.footer__developer {
  padding: 20px 20px 30px;
}
@media (min-width: 768px) {
  .footer__developer {
    padding: 30px 20px 40px;
  }
}
@media (min-width: 1440px) {
  .footer__developer {
    grid-column: 1/-1;
    padding: 0;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #7859cf;
  letter-spacing: 2%;
}

.footer__link {
  font-weight: 500;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2%;
}
.footer__link:hover, .footer__link:focus {
  color: #9070ec;
}
.footer__link:active {
  color: #593cac;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer__logo-text--short {
    display: none;
  }
}

.footer__logo-text--full {
  display: none;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .footer__logo-text--full {
    display: block;
  }
}

.header {
  width: 100%;
  background-color: #ffffff;
}

.header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .header__wrapper {
    padding: 0 20px;
    min-height: 80px;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    padding: 0 40px;
  }
}

.header__logo-wrapper {
  margin-left: 20px;
  margin-right: auto;
}
@media (min-width: 768px) {
  .header__logo-wrapper {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .header__logo-wrapper {
    max-width: 320px;
    display: flex;
    align-items: center;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-short-text {
  display: none;
}
@media (min-width: 768px) {
  .header__logo-short-text {
    display: block;
  }
}
@media (min-width: 1440px) {
  .header__logo-short-text {
    display: none;
  }
}

.header__logo-full-text {
  display: none;
}
@media (min-width: 1440px) {
  .header__logo-full-text {
    display: block;
    letter-spacing: 1px;
  }
}

.header__text {
  margin-left: 20px;
  max-width: 126px;
  display: none;
  text-align: left;
}
@media (min-width: 1440px) {
  .header__text {
    display: block;
  }
}

.header__menu {
  display: none;
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .header__menu {
    gap: 10px;
  }
}

.header__user-menu {
  display: flex;
}
@media (min-width: 768px) {
  .header__user-menu {
    margin-left: auto;
    justify-content: end;
  }
}

.header__navigation {
  order: 10;
}
@media (min-width: 768px) {
  .header__navigation {
    order: 0;
  }
}

.header__navigation-button {
  padding: 0;
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__navigation-button:active {
  background-color: #f0ebff;
}
@media (min-width: 768px) {
  .header__navigation-button {
    display: none;
  }
}

.header__navigation--closed .header__navigation-button::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 1.5px;
  top: 50%;
  left: calc(50% - 8px);
  background-color: #333333;
  box-shadow: 0 -3.75px 0 0 #333333, 0 3.75px 0 0 #333333;
}

.header__navigation--opened .header__navigation-button::before, .header__navigation--opened .header__navigation-button::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 1.5px;
  top: 50%;
  left: 22px;
  background-color: #333333;
}
.header__navigation--opened .header__navigation-button::before {
  transform: rotate(45deg);
}
.header__navigation--opened .header__navigation-button::after {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .header {
    position: relative;
  }

  .header__navigation--opened .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    min-height: 57px;
    top: 60px;
    left: 0;
    z-index: 3;
    background-color: #ffffff;
  }

  .header__navigation--opened .menu__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .header__navigation--opened .menu__item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #f0ebff;
  }
  .header__navigation--opened .menu__item:first-child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background-color: #f0ebff;
  }

  .header__navigation--opened .menu__link--active::after {
    width: 0;
    height: 0;
  }

  .header__navigation--closed .header__menu {
    display: none;
  }
}
.logo {
  max-width: 170px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  cursor: pointer;
}

.logo svg {
  fill: #7859cf;
}

.logo__text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}

.main {
  width: 100%;
  flex-grow: 1;
}

.main__container {
  box-sizing: border-box;
  overflow: hidden;
}

.map {
  height: 420px;
  background-image: url("../../img/map.jpg");
  background-position: center;
}
@media (min-width: 768px) {
  .map {
    height: 480px;
  }
}
@media (min-width: 1440px) {
  .map {
    height: 540px;
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: flex;
}

.menu__link {
  padding: 32px 21px;
  position: relative;
  box-sizing: border-box;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
}
@media (min-width: 1440px) {
  .menu__link {
    padding: 32px 25px;
  }
}
.menu__link:hover, .menu__link:focus {
  color: #7859cf;
}
.menu__link:active:not(.menu__link--active) {
  background-color: #f0ebff;
}

.menu__link--active {
  color: #7859cf;
}
.menu__link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #7859cf;
}

.milk-type {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
}
@media (min-width: 768px) {
  .milk-type {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .milk-type {
    margin-bottom: 27px;
  }
}

.milk-type__title {
  padding: 0;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.milk-type__input-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  cursor: pointer;
}
.milk-type__input-label:not(:last-child) {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .milk-type__input-label:not(:last-child) {
    margin-bottom: 20px;
  }
}

.milk-type__input-name {
  margin-left: 10px;
}

.milk-type__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.milk-type__input:hover + .milk-type__input-mark, .milk-type__input:focus + .milk-type__input-mark {
  outline: 2px solid #9070ec;
  outline-offset: -2px;
  background-color: rgba(120, 89, 207, 0.25);
  box-shadow: inset 0 0 0 2px #ffffff;
}
.milk-type__input:checked + .milk-type__input-mark {
  outline: none;
  background-color: #7859cf;
  box-shadow: inset 0 0 0 2px #ffffff;
  border: 2px solid #7859cf;
}
.milk-type__input:disabled + .milk-type__input-mark {
  outline: none;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #e2e2e2;
}
.milk-type__input:disabled ~ .milk-type__input-name {
  color: #bdbdbd;
}
.milk-type__input:checked:disabled + .milk-type__input-mark {
  outline: 2px solid #ffffff;
  outline-offset: -4px;
  background-color: #e2e2e2;
}

.milk-type__input-mark {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  box-sizing: border-box;
}

.pagination__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 768px) {
  .pagination__list {
    justify-content: end;
    transform: translateX(20px);
  }
}
@media (min-width: 1440px) {
  .pagination__list {
    justify-content: end;
  }
}

.pagination__link svg {
  fill: #7859cf;
}

.pagination__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  color: #7859cf;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
}
.pagination__link--active {
  font-weight: 600;
  color: #333333;
  background-color: transparent;
  cursor: default;
}
@media (min-width: 768px) {
  .pagination__link--active {
    min-width: 80px;
  }
}
@media (min-width: 768px) {
  .pagination__link--utter {
    min-width: 150px;
  }
}
.pagination__link:hover:not(.pagination__link--active), .pagination__link:focus:not(.pagination__link--active) {
  color: #ffffff;
  background-color: #9070ec;
}
.pagination__link:active:not(.pagination__link--active) {
  color: #ffffff;
  background-color: #593cac;
}
.pagination__link:disabled {
  color: #ffffff;
  background-color: #e2e2e2;
}

@media (min-width: 768px) {
  .pagination__link--utter svg {
    display: none;
  }
}

.pagination__link-name {
  display: none;
}
@media (min-width: 768px) {
  .pagination__link-name {
    display: block;
  }
}
@media (min-width: 1440px) {
  .pagination__link-name {
    font-size: 14px;
  }
}

.price {
  padding: 0;
  margin: 0;
  margin-bottom: 23.7px;
  border: none;
}
@media (min-width: 768px) {
  .price {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .price {
    margin-bottom: 30px;
  }
}

.price__title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}
@media (min-width: 768px) {
  .price__title {
    margin-bottom: 30px;
  }
}

.price__slider {
  margin-bottom: 36.53px;
  width: 100%;
  height: 2px;
  position: relative;
  background-color: #e2e2e2;
}
.price__slider::before {
  position: absolute;
  content: "";
  width: 84%;
  height: 4.18px;
  top: -50%;
  left: 0;
  background-color: #9070ec;
}
@media (min-width: 768px) {
  .price__slider::before {
    width: 78%;
  }
}
@media (min-width: 1440px) {
  .price__slider::before {
    width: 86%;
  }
}

.price__slider-thumb {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: -10.5px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #9070ec;
  cursor: pointer;
}
.price__slider-thumb:hover, .price__slider-thumb:focus {
  background-color: #dbcffa;
  box-shadow: inset 0 0 0 4px #ffffff;
  outline: 2px solid #9070ec;
  outline-offset: -2px;
}
.price__slider-thumb:active {
  background-color: #7859cf;
  box-shadow: inset 0 0 0 2px #ffffff;
  outline: none;
  border: 2px solid #7859cf;
}
.price__slider-thumb:disabled {
  background-color: #f8f8f8;
  box-shadow: inset 0 0 0 2px #bdbdbd;
  outline: none;
  border: none;
}

.price__slider-thumb--to {
  left: 84%;
}
@media (min-width: 768px) {
  .price__slider-thumb--to {
    left: 78%;
  }
}
@media (min-width: 1440px) {
  .price__slider-thumb--to {
    left: 86%;
  }
}

.price__input-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='3' viewBox='0 0 10 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.40269 2.17684H0.597656V0.0853271H9.40269V2.17684Z' fill='%23BDBDBD'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .price__input-wrapper {
    gap: 30px;
  }
}

.price__input {
  padding: 7px 10px;
  max-width: 118px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #9070ec;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .price__input {
    max-width: 93px;
  }
}
@media (min-width: 1440px) {
  .price__input {
    max-width: 132px;
  }
}
.price__input::placeholder {
  color: #bdbdbd;
}
.price__input:focus {
  box-shadow: inset 0 0 0 2px #593cac;
  outline: none;
}
.price__input:disabled {
  color: #bdbdbd;
  box-shadow: inset 0 0 0 2px #e2e2e2;
  background-color: transparent;
}

.products__sort {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .products__sort {
    margin-bottom: 27px;
    justify-content: end;
    gap: 10px;
  }
}
@media (min-width: 1440px) {
  .products__sort {
    margin-bottom: 27px;
  }
}

.products__sort-title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.products__sort-select {
  padding: 4px 10px;
  max-width: 165px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #7859cf;
  letter-spacing: 1px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}
.products__sort-select:hover, .products__sort-select:focus {
  background-color: #f0ebff;
  outline: none;
}

.products__sort-select option {
  background-color: #ffffff;
  color: #333333;
}

.products__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .products__list {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1440px) {
  .products__list {
    margin-bottom: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.products__item {
  padding: 40px 20px 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 4px;
}
.products__item:not(:last-child) {
  margin-bottom: 20px;
}
.products__item:hover, .products__item:focus {
  outline: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .products__item {
    padding: 50px 30px 30px;
  }
  .products__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.products__link {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.products__img-wrapper {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .products__img-wrapper {
    margin-bottom: 30px;
  }
}

.products__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .products__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.products__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .products__text {
    margin-bottom: 20px;
  }
}

.products__offer {
  display: flex;
  align-items: center;
}

.products__price {
  margin: 0;
  margin-right: auto;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.products__button {
  padding: 8px;
  min-width: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}

.products__button svg {
  margin-right: 6px;
  fill: #ffffff;
}

@media (min-width: 1440px) {
  .products__pagination {
    grid-column: 1/-1;
  }
}

.socials {
  list-style: none;
}

.socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.socials__link:hover, .socials__link:focus {
  background-color: #f0ebff;
}
.socials__link:active {
  background-color: rgba(120, 89, 207, 0.25);
}
.socials__link:hover svg, .socials__link:focus svg, .socials__link:active svg {
  fill: #7859cf;
}

.socials__link svg {
  fill: #bdbdbd;
}

.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  padding: 20px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .swiper-slide {
    padding: 60px 80px 0;
  }
}
@media (min-width: 1440px) {
  .swiper-slide {
    padding: 25px 80px 84px;
    padding-right: 110px;
  }
}
.swiper-slide--flat-white {
  background-color: #f3ebe1;
}
@media (min-width: 768px) {
  .swiper-slide--flat-white {
    background-image: linear-gradient(to bottom, #f3ebe1 77%, #ffffff 77%);
  }
}
@media (min-width: 1440px) {
  .swiper-slide--flat-white {
    background-image: none;
  }
}
.swiper-slide--lavender {
  background-color: #eae6fc;
}
@media (min-width: 768px) {
  .swiper-slide--lavender {
    background-image: linear-gradient(to bottom, #eae6fc 77%, #ffffff 77%);
  }
}
@media (min-width: 1440px) {
  .swiper-slide--lavender {
    background-image: none;
  }
}
.swiper-slide--espresso {
  background-color: #e5e6e8;
}
@media (min-width: 768px) {
  .swiper-slide--espresso {
    background-image: linear-gradient(to bottom, #e5e6e8 77%, #ffffff 77%);
  }
}
@media (min-width: 1440px) {
  .swiper-slide--espresso {
    background-image: none;
  }
}

.swiper-slide__wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
}
@media (min-width: 768px) {
  .swiper-slide__wrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .swiper-slide__wrapper {
    display: grid;
    grid-template-columns: 600px auto;
    gap: 30px;
  }
}

.swiper__image {
  width: 100%;
  height: 100%;
}

.swiper__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .swiper__info {
    max-width: 900px;
  }
}
@media (min-width: 1440px) {
  .swiper__info {
    max-width: 625px;
    align-items: flex-start;
  }
}

.swiper__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .swiper__title {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }
}

.swiper__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .swiper__text {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (min-width: 1440px) {
  .swiper__text {
    margin-bottom: 40px;
    text-align: left;
  }
}

.swiper__text br {
  display: none;
}
@media (min-width: 768px) {
  .swiper__text br {
    display: inline;
  }
}

.swiper__old-price {
  margin-right: 6px;
  font-size: 16px;
  line-height: 32px;
  color: #7859cf;
}

.swiper__new-price {
  margin-right: 20px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.swiper__price-button {
  padding: 8px;
  min-width: 113px;
  font-size: 16px;
  line-height: 24px;
}

.swiper__badge {
  margin: 0;
  margin-bottom: 4px;
}

.swiper-pagination {
  margin-bottom: 52px;
  display: none;
}
@media (min-width: 1440px) {
  .swiper-pagination {
    display: block;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  opacity: 1;
  border-radius: 0;
  background-color: #ffffff;
}
.swiper-pagination .swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active), .swiper-pagination .swiper-pagination-bullet:focus:not(.swiper-pagination-bullet-active) {
  background-color: rgba(120, 89, 207, 0.25);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #7859cf;
}

.swiper .swiper-button {
  width: 20px;
  top: 22px;
  height: 100%;
  cursor: pointer;
}
.swiper .swiper-button:hover {
  background: linear-gradient(to right, #ffffff 0%, transparent 70%);
}
.swiper .swiper-button:active {
  background: linear-gradient(to right, #7859cf -200%, transparent 70%);
}
@media (min-width: 768px) {
  .swiper .swiper-button {
    width: 80px;
    height: 77%;
  }
}
@media (min-width: 1440px) {
  .swiper .swiper-button {
    width: 80px;
    height: 100%;
  }
}

.swiper .swiper-button-prev {
  left: 0;
}
.swiper .swiper-button-prev::after {
  content: "";
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background: center center no-repeat url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.71661 0L11 1.32082L2.56677 10L11 18.6792L9.71661 20L0 10L9.71661 0Z' fill='%237859CF'/%3E%3C/svg%3E%0A") transparent;
}

.swiper .swiper-button-next {
  right: 0;
  transform: scale(-1, 1);
}
.swiper .swiper-button-next::after {
  width: 20px;
  height: 20px;
  content: "";
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background: center center no-repeat url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.71661 0L11 1.32082L2.56677 10L11 18.6792L9.71661 20L0 10L9.71661 0Z' fill='%237859CF'/%3E%3C/svg%3E%0A") transparent;
}

.user-nav {
  display: flex;
  align-items: center;
}

.user-nav__button svg {
  fill: #333333;
}

.user-nav__button {
  padding: 20px 22px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .user-nav__button {
    height: 80px;
  }
}
.user-nav__button:hover, .user-nav__button:focus {
  color: #7859cf;
}
.user-nav__button:active {
  background-color: #f0ebff;
}
.user-nav__button:hover svg, .user-nav__button:focus svg, .user-nav__button:active svg {
  fill: #7859cf;
}
.user-nav__button--enter {
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
}
@media (min-width: 1440px) {
  .user-nav__button--enter {
    margin-right: 20px;
  }
}
.user-nav__button--basket {
  color: #333333;
  text-decoration: none;
}

.user-nav__button span {
  display: none;
}
@media (min-width: 1440px) {
  .user-nav__button span {
    margin-left: 7px;
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */