html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  color: $base-black;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  background-color: $lightest-grey;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: none;
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
