@mixin h4-title {
  margin: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $base-primary;
  letter-spacing: 2%;
}

@mixin badge {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $base-primary;
  letter-spacing: 4%;
}
